.advantages {
  background-color: $bg;
  padding: 110px 0px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}
.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
      path{
        fill: $light;
      }
    }
    .advantages__item-title{
      color: $green;
    }
  }
  &-images{
    background-color: $light;
    width: 114px;
    height: 114px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all .5s;
    margin-bottom: 30px;
    path{
      transition: all .5s;
    }
  }
  &-title{
    color: $tlight;
    font-size: 24px;
    margin-bottom: 30px;
    @include f500;
    transition: all .5s;
  }
  &-text{
    font-size: 15px;
    line-height: 24px;
  }
}

.icosvg-1{
  svg{
    width: 50px;
  }
}
.icosvg-2{
  svg{
    width: 71px;
  }
}
.icosvg-3{
  svg{
    width: 86px;
    margin-top: 12px;
  }
}