.author{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 761px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $tlight;
    background-color: $green;
  }
  &__title{
    font-size: 30px;
    line-height: 30px;
    margin-right: 45px;
    max-width: 260px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: $light;
  }
}