.footer {
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
  &__col{
    max-width: 270px;
    width: 100%;
    &-menu{
      max-width: 220px;
    }
    &-title{
      font-size: 22px;
      line-height: 24px;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: $tlight;
      padding-bottom: 30px;
      margin-bottom: 30px;
      position: relative;
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 2px;
        width: 51px;
        height: 3px;
        background-color: $green;

      }
    }
    &-text{
      font-size: 15px;
      color: #b7c3c8;
      margin-bottom: 30px;
    }
  }
  &__info{
    margin-top: 18px;
    color: $tlight;
    line-height: 24px;
    font-size: 14px;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before{
      font-family: 'icomoon';
      content: "\e902";
      position: absolute;
      left: 0;
      font-size: 18px;
      color: $green;
    }
    &-phone{
      &::before {
        content: "\e901";
      }
    }
  }
}

.footer{
  &__col{
    &-list{
      a{
        margin-bottom: 13px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;
        &::before{
          font-family: 'icomoon';
          content: "\f105";
          position: absolute;
          left: 0;
          font-size: 18px;
          color: $green;
        }
      }
    }
  }
}

.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    &+li{
      margin-left: 7px;
    }
  }
  a{
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
    & + a {
      margin-left: 7px;
    }
  }
}
.link-facebook{

}
.link-twitter{
  background-position: -28px 0;
}
.link-youtube{
  background-position: 0 -28px;
}
.link-pinterest{
  background-position: -28px -28px;
}
.link-linkedin{
  background-position: -56px 0;
}

.footer__form-title{
  color: $tlight;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__form{
  form{
    position: relative;
  }
  input {
    padding: 15px;
    padding-right: 55px;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    border: none;
    height: 40px;
    font-size: 14px;
    color: $tlight;
    &::placeholer{
      color: #697378;
    }
  }
  button{
    position: absolute;
    padding: 11px 13px;
    width: 43px;
    right: 0;
    top: 0;
    border: none;
    background-color: $green;
    height: 100%;
    cursor: pointer;
    &::before{
      font-family: 'icomoon';
      content: "\f124";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      color: $tlight;
    }
  }
}
.footer {
  &__copy{
    border-top: 1px solid #424d53;
    padding: 25px 0px;
    text-align: center;
    &-text{
      color: #919699;
      font-size: 15px;
      font-weight: 400;
    }
  }
}