.header {
  background-color: #fff;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 91px;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 9px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: $tlight;
  font-size: 12px;

  &-login {
    background-color: $green;
  }

  &-register,
  &-logout {
    background-color: $red;
    margin-left: 7px;
  }
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;

  &__list {
    li {
      display: inline-block;

      &+li {
        margin-left: 30px;
      }
    }

    a {
      color: $tlight;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.header__menu {
  background-color: $bg;
  color: $tlight;
}

.header__circle {
  &.active {
    display: block;
  }

  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;
  display: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #a0a0a0;
  }

  span {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    right: -7px;
    top: -7px;
    color: $tlight;
    font-size: 11px;
    line-height: 18px;
  }
}

.header__box {
  display: flex;
  align-items: center;
}

.header__btn-login--off {
  display: none;
}

.header__btn-logout {
  display: none;

  &.header__btn-login--on {
    display: block;
  }
}

.notification {
  span {
    background-color: $green;
  }
}

.message {
  span {
    background-color: $tomato;
  }
}

.basket {
  margin-right: 20px;
  span {
    background-color: $yellow;
  }
}

.user {
  margin-right: 25px;
  padding-right: 20px;
  position: relative;

  &::before {
    font-family: 'icomoon';
    content: "\f107";
    font-size: 16px;
    color: #707070;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__images {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
  }

  &__info {
    line-height: 24px;
    font-size: 14px;
  }

  &__name {
    @include f500;
    color: #222;
  }

  &__money {
    @include f700;
    color: $green;
  }
}

.user__menu {
  border: 0px solid #cccccc;
  position: absolute;
  background-color: $light;
  padding: 0 20px;
  width: 158px;
  top: 69px;
  left: 20px;
  transition: all .9s;
  height: 0;
  overflow: hidden;
  z-index: 5;

  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.circle__menu {
  position: absolute;
  z-index: 5;
}

.user__box,
.basket__box,
.notification__box,
.message__box {
  position: relative;
  height: 90px;
  margin-top: 40px;

  &:hover {
    .user__menu {
      height: auto;
      padding: 20px;
      border-width: 1px;
    }
  }
}

.circle__menu {
  border-top: 1px solid #e0e0e0;
  top: 62px;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all .3s;
}

.basket__box,
.notification__box,
.message__box {
  margin-top: 54px;
  margin-left: 15px;

  &:hover {
    .circle__menu {
      overflow: hidden;
      height: auto;
      // transition: all .3s;
    }
    .circle__item {
      padding: 23px;
      border-width: 1px;
    }
    .header__circle::before {
      color: $bg;
    }
  }
}

.circle__item {
  background-color: $light;
  border: 0px solid #e0e0e0;
  border-left-width: 1px;
  border-right-width: 1px; 
  border-top: none;
  padding: 0 23px;
  display: flex;
  align-items: center;
  width: 269px;
  position: relative;
  transition: all .3s;
  &::before {
    position: absolute;
    right: 27px;
    font-size: 16px;
    color: #b0bec5;
  }
}

.circle__images {
  margin-right: 15px;
}

.circle {
  &__info {
    &-name {
      @include f500;
      color: $bg;
      padding-bottom: 7px;
      font-size: 15px;
    }
    &-theme {
      font-size: 12px;
      color: $green;
      padding-bottom: 9px;
    }

    &-price {
      @include f500;
      color: #000;
      font-size: 16px;
    }
    &-date {
      color: #707070;
      font-size: 10px;
    }
  }
}

.basket {
  &__summ {
    padding: 16px 17px 12px;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: $light;

    &-title {
      display: flex;
      justify-content: space-between;
      padding-left: 13px;
      padding-right: 22px;
      margin-bottom: 15px;
      @include f700;
      font-size: 16px;
      color: $bg;
    }
  }

  &__btn {
    @include f700;
    color: $tlight;
    font-size: 14px;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;

    &-checkout {
      width: 123px;
      margin-left: 6px;
      background-color: $red;
    }
  }
}

.notification__menu,
.message__menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle {
    &__info {
      &-name {
        @include f500;
        color: $bg;
        padding-bottom: 4px;
        font-size: 15px;
      }
      &-theme {
        font-size: 12px;
        color: $green;
        padding-bottom: 6px;
      }
  
      &-price {
        @include f500;
        color: #000;
        font-size: 16px;
      }
      &-date {
        color: #707070;
        font-size: 10px;
      }
    }
  }
}

.icons-color::before {
  color: $tomato;
}

.header__btn-menu,
.menu__btn {
  display: none;
}