.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &.page-search{
    min-height: 230px;
    .search__inner{
      padding: 55px 0px 70px;
      &-text{
        margin-bottom: 20px;
      }
    }
  }
}
.search__inner{
  padding: 155px 0px 100px;
  color: $tlight;
  text-align: center;
  &-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 28px;
  }
  &-text{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 54px;
  }  
  &-form{
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      height: 56px;
      border-radius: 4px;
      border: none;
      font-size: 14px;
      font-weight: 500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder{
        color: #90a4ae;
      }
    }
    button{ 
      position: absolute;
      border: none;
      background-color: transparent;
      right: 17px;
      top: 17px;
    }
  }
}