.tutorial {
  padding: 60px 0px 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    &-images{
      min-height: 270px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
    }
    &-title{
      @include f700;
      font-size: 24px;
      background-color: #f8f8f8;
      text-align: center;
      padding: 30px 10px;
      color: $bg;

    }
  }
}